body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  color: #ffffff;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  color: #F15B31;
  padding: 20px 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid #ffffff;
}

main {
  width: 850px;
  margin: 35px auto;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
}

h2 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  color: #0D2C40;
  letter-spacing: 1px;
}

p {
  font-family: "Droid-Serif";
  line-height: 26px;
  font-size: 18px;
}

img {
  margin: 40px 8px 0 8px;
}

footer {
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
}

.copyright {
  font-family: "Raleway";
  float:left;
}

.message {
  font-family: "Raleway";
  float: right;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.reset-button {
  text-transform: uppercase;
  margin-top: 25px;
  padding: 10px 20px;
  color: #fff;
  background-color: #00A6B3;
  border-radius: 10px;
}
